.sidebar
  .sidebar__name
    sugino fumiya
    %ul.font-icon
      %li
        = link_to "#" do
          %i.fa.fa-pencil-square-o
      %li
        = link_to "#" do
          %i.fa.fa-cog
  .side-group
    .side-group_list
      .side-group_list_name
        .side-name
          チーム
        .side-text
          aaaaaaaaaa
      .side-group_list_name
        .side-name
          チームA
        .side-text
          aaaaaaaaaa
